body {
   background-color: #262626;
   font-family: 'Raleway', sans-serif;
}

.title {
   font-size: 2vw;
   text-align: right;
   color: #fff;
   margin: 0 0 1vw 0;
}

.main {
   margin: 1vw auto 0;
   width: 60vw;
   max-width: 100%;
   text-align: center;
}

.main input[type=radio] {
   display: none;
}

.main label {
   cursor:pointer;
   text-decoration: none;
}

.row_slide {
   padding: 1vw;
   background: #181818;
   box-shadow: 0 0 1vw #363636;
   z-index: 1;
   border-radius: .5vw;
}

.overflow {
   width: 100%;
   overflow: hidden;
   position: relative;
  padding-bottom: 56%;

}

.list_slide {
   position: absolute;
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .row_slide .list_slide { margin-left: 0; }
#slide2:checked ~ .row_slide .list_slide { margin-left: -100%; }
#slide3:checked ~ .row_slide .list_slide { margin-left: -200%; }
#slide4:checked ~ .row_slide .list_slide { margin-left: -300%; }

#slide1:checked ~ .row_radio .text_1, 
#slide2:checked ~ .row_radio .text_2,
#slide3:checked ~ .row_radio .text_3,
#slide4:checked ~ .row_radio .text_4 { 
   width: 25%;
   opacity: 1;
   transition: opacity .8s ease-out .2s;
}

#slide1:checked ~ .row_radio .text_2,
#slide1:checked ~ .row_radio .text_3,
#slide1:checked ~ .row_radio .text_4,
#slide2:checked ~ .row_radio .text_1,
#slide2:checked ~ .row_radio .text_3,
#slide2:checked ~ .row_radio .text_4,
#slide3:checked ~ .row_radio .text_1,
#slide3:checked ~ .row_radio .text_2,
#slide3:checked ~ .row_radio .text_4,
#slide4:checked ~ .row_radio .text_1,
#slide4:checked ~ .row_radio .text_2,
#slide4:checked ~ .row_radio .text_3 { 
   width: 0;
   opacity: 0;
}

.row_slide .list_slide {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
}

.row_slide .slide {
   width: 25%;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.texts {
   display: flex;
   margin: 0 0 0 1vw;
}

.text {
   font-size: 1.5vw;
   color: #fff;
}

.row_slide .slide_1 {
  background: url("assets/1.jpg") 0 0/100% auto no-repeat;
}
.row_slide .slide_2 {
  background: url("assets/2.jpg") 0 0/100% auto no-repeat;
}
.row_slide .slide_3 {
  background: url("assets/3.jpg") 0 0/100% auto no-repeat;
}
.row_slide .slide_4 {
  background: url("assets/4.jpg") 0 0/100% auto no-repeat;
}

.row_radio {
   display: flex;
   justify-content: space-between;
   margin: 2vw 1vw 0 0;
   text-align: center;
}

.row_radio label {
   display: inline-block;
   width: 1vw;
   height: 1vw;
   font-size: 4vw;
   border-radius: 100%;
   margin: 0 1vw;
   background: #565656;
   border: .2vw solid #565656;
}

#slide1:checked ~ .row_radio label:nth-child(1),
#slide2:checked ~ .row_radio label:nth-child(2),
#slide3:checked ~ .row_radio label:nth-child(3),
#slide4:checked ~ .row_radio label:nth-child(4) {
   background: transparent;
   border: .2vw solid #565656;
}

.row_radio label:hover {
   background: #fff;
   border: .2vw solid #fff;
}

#slide1:checked ~ .row_radio label:nth-child(1):hover,
#slide2:checked ~ .row_radio label:nth-child(2):hover,
#slide3:checked ~ .row_radio label:nth-child(3):hover,
#slide4:checked ~ .row_radio label:nth-child(4):hover {
   background: transparent;
   border: .2vw solid #fff;
}

@media (max-width: 900px) {
   .main {
      width: 80vw;
   }
}

@media (max-width: 700px) {

   .row_radio {
      flex-direction: column-reverse;
   }
   .title {
      font-size: 3.5vw;
   }
   .row_radio label {
      width: 2vw;
      height: 2vw;
   }
   .text {
      font-size: 3vw;
   }
}

@media (max-width: 520px) {

   .main {
      width: 90vw;
   }
}
